%ul.visits
  - @list.each do |visit|
    %li
      A #{visit.new? ? "new" : "returning"} visitor
      - if visit.where
        from
        %span.visit-where= visit.where
        - flag = flag_url(visit.country_code)
        - if flag
          %img.visit-flag{:src => flag}
      = visit.verb
      - if visit.url
        %a.visit-link{:href => visit.url}= visit.display_title
      - else
        = visit.display_title
      = visit.when
